div.container {
	margin-left:auto;
	margin-right:auto;
	width: 600px;
	background-color: #EEEEEE;
}

body {
	font-family: 'caslon';
	background-color: #BBBBBB;
}

h1 {
	font-family: 'hkgrotesk';
}

@font-face {
	font-family: 'caslon';
	src: url(librecaslontext-regular.woff);
}

@font-face {
	font-family: 'hkgrotesk';
	src: url(hkgrotesk-regular.woff); 
}
